<!DOCTYPE html>
<!-- `ng-app` allows angular to recognize this html file as an angular application   -->
<html ng-app='directoryApp'>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Data Binding</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="./directory.js"></script>
  <link href="//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-route.js">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
  <link rel="stylesheet" href="styles.css">
</head>

<!-- ng directives at work! -->

<body style="background:{{color}}" ng-controller="directoryController as dirList">
  <!-- color -->
  <input type="text" ng-model="color" placeholder="type your favorite color">

  <!-- we assign variable through `ng-model` directive
  and call it through interpolation `{{variable name here}}` -->

  <div>
    <form ng-submit='dirList.addPerson()'>
      <input type="text" placeholder="name" ng-model="dirList.firstName">
      <br>
      <input type="text" placeholder="skill" ng-model="dirList.skill">
      <br>
      <input type="text" placeholder="email" ng-model="dirList.hitPoints">
      <br>
      <input type="text" placeholder="email" ng-model="dirList.email">
      <br>
      <input type="submit" value="submit">
    </form>
  </div>
  <!-- displayed user input through interpolation -->
  <h4>Name: {{dirList.firstName}}</h4>
  <h4>Skill: {{dirList.skill}}</h4>
  <h4>Hit-Points: {{dirList.hitPoints}}</h4>
  <h4>Email: {{dirList.email}}</h4>


  </div>
  <div>
    <input type="text" ng-model="info" placeholder="find a specific list">

    <br>
    <button ng-if='!dirList.toggle' ng-click=" dirList.toggle = true ">Show Names</button>
    <br>
    <button ng-if='dirList.toggle' ng-click=" dirList.toggle = false "> Hide Names</button>
    <br>
    
    <!-- this calls the filter declared in `ng-repeat`-->
    <ul ng-class="{'hidden' : !dirList.toggle }">
      <li ng-class="item.hitPoints > 12 ? 'under-twelve' : 'over-twelve'" ng-repeat="item in dirList.userData | filter:info">
             {{item.firstName}}
        <br> {{item.skill}}
        <br> {{item.hitPoints}}
        <br> {{item.email}}
        <hr>
      </li>
    </ul>
  </div>

</body>

</html>

</html>